<configuration>
   
    <connectionStrings>
        <add name="ShiftSchedulerConnection" 
             connectionString="Server=localhost;Database=shiftscheduler;User ID=root;Password=new_password;CharSet=utf8;" 
             providerName="MySql.Data.MySqlClient"/>
    </connectionStrings>
   
</configuration>